$grey: #eee;

body {
	.loading{
		background: $grey;
		background: rgba(0,0,0,0.2);
		height:100vh;
		left: 0;
		position:fixed;
		top:0;
		width:100%;
		z-index:9999;
		
		.spinner-border{
			margin-top: 40vh;
		}
	}
}